<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin index</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-md-6">
			
				<p>Add user</p>
				<form action="/admin/addUser" method="POST">
					<div class="mb-3">
						<label for="username" class="form-label">Username</label> 
						<input type="text" class="form-control" name="username" id="username" placeholder="testusername">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="************">
					</div>
					<div class="mb-3 form-check">
					 	<input type="checkbox" class="form-check-input" name="isAdmin" id="isAdmin">
					 	<label class="form-check-label" for="isAdmin">Admin</label>
					</div>
					<button type="submit" class="btn btn-primary">Add user</button>
				</form>	
				
			</div>
		</div>
		
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-md-6">
			
				<p>Add location</p>
				<form action="/admin/addLocation" method="POST">
					<div class="mb-3">
						<label for="locationName" class="form-label">Location name</label> 
						<input type="text" class="form-control" name="locationName" id="locationName" placeholder="Squashberek">
					</div>
					<div class="mb-3">
						<label for="locationAddress" class="form-label">Location address</label>
						<input type="text" class="form-control" name="locationAddress" id="locationAddress" placeholder="2800. Tatabanya, Test utca 1">
					</div>
					<div class="mb-3">
						<label for="hourlyRate" class="form-label">Hourly rate</label>
						<input type="number" class="form-control" name="hourlyRate" id="hourlyRate" placeholder="1500 Ft">
					</div>
					<button type="submit" class="btn btn-primary">Add location</button>
				</form>	
				
			</div>
		</div>
		
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-md-6">
			
				<p>Add game</p>
				<form action="/admin/addGame" method="POST">
					<div class="form-row align-items-center">
				    	<div class="col-auto my-1">
					    	<label class="mr-sm-2" for="firstUser">First user</label>
						    	<select class="custom-select mr-sm-2" name="firstUser" id="firstUser">
						        	<option selected>Choose...</option>
						        	<option value="1">One</option>
						        	<option value="2">Two</option>
						        	<option value="3">Three</option>
						      </select>
					    </div>
					    <div class="col-auto my-1">
					    	<label class="mr-sm-2" for="secondUser">Second user</label>
						    	<select class="custom-select mr-sm-2" name="secondUser" id="secondUser">
						        	<option selected>Choose...</option>
						        	<option value="1">One</option>
						        	<option value="2">Two</option>
						        	<option value="3">Three</option>
						      </select>
					    </div>
					    <div class="col-auto form-row">
					    	<div class="col">
					    		<label for="firstUserScore" class="form-label">First user score</label> 
						    	<input type="number" class="form-control" name="firstUserScore" id="firstUserScore" placeholder="First user score">
						    </div>
						    <div class="col">
						    	<label for="secondUserScore" class="form-label">Second user score</label> 
						    	<input type="number" class="form-control" name="secondUserScore" id="secondUserScore" placeholder="Second user score">
						    </div>
					  	</div>
					  	<div class="col-auto my-1">
					    	<label class="mr-sm-2" for="winner">Winner user</label>
					    	<select class="custom-select mr-sm-2" name="winner" id="winner">
					        	<option selected>Choose...</option>
					        	<option value="1">One</option>
					        	<option value="2">Two</option>
					        	<option value="3">Three</option>
				      		</select>
			    		</div>
		    			<div class="col-auto my-1">
					    	<label class="mr-sm-2" for="location">Location</label>
					    	<select class="custom-select mr-sm-2" name="location" id="location">
					        	<option selected>Choose...</option>
					        	<option value="1">One</option>
					        	<option value="2">Two</option>
					        	<option value="3">Three</option>
				      		</select>
			    		</div>
					</div>
					<div class="col-auto form-row">
				    	<div class="col">
				    		<label for="date" class="form-label">Date</label> 
					    	<input type="date" class="form-control" name="date" id="date" placeholder="2021.08.25.">
					    </div>
				  	</div>
					<button type="submit" class="btn btn-primary">Add game</button>
				</form>	
				
			</div>
		</div>
		
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js">
	</script>
</body>
</html>