<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update user password</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
</head>
<body>

	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-md-6">
			
				<form action="/user/updatePassword" method="POST">
					<h3>Please, change your password!</h3>
					<div class="form-group mb-3">
						<label for="username" class="form-label">Username</label>
						<input type="text" class="form-control" name="username" id="username" placeholder="testusername">
					</div>
					<div class="form-group mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="************">
					</div>
					<button type="submit" class="btn btn-primary">Change my password</button>
		
				</form>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js">
	</script>
</body>
</html>